/**
 * Fonts : sans-serif, lato
 * menu :
 * lab lev 1 : #e6e6e6 ( logo name )
 * lab level 2 : #dcdfde ( menu item )
 * lab level 3 ( proche couleur background ) : #73d6bf ( detail logo )
 *
 * main :
 * lab level 3 : #595959;
 * 2 : -fx-text-fill: #3a3a3a;
 *
 * Layout :
 * default padding: 10px;
 */

.container {
   -fx-padding: 10px;
   -fx-background-color: #e6e6e6;
   -fx-background-radius: 10px;
}

.root-background {
   -fx-background-color: #ffffff; /*#e6e6e6;*/
}

/* FONTS */

.toggle-button, .label {
   -fx-font-family: sans-serif;
}

/* LABEL */

.label {
}

/* emphase */
.emp-dark-0 {
   -fx-font: bold 18px "Lato";
   -fx-text-fill: #161616;
}

.emp-dark-1 {
   -fx-font: bold 16px "Lato";
   -fx-text-fill: #161616;
}

.emp-light {
   -fx-text-fill: #595959;
}

/* size */
.lab-extra-large {
   -fx-font-size: 30px;
}

/* group of element */
.lab-group {
   -fx-font-weight: bold;
}

.lab-menu-1 {
   -fx-text-fill: #e6e6e6;
}

.lab-menu-2 {
   -fx-text-fill: #dcdfde;
}

.lab-menu-3 {
   -fx-text-fill: #73d6bf;
}

.lab-page-title, .lab-title {
   -fx-font-size: 1.3em;
}

.lab-large {
    -fx-font-size: 2em; 
    -fx-font-weight: bold;
}

.lab-title {
   -fx-padding: 2px 0 10px 0;
}

.main .label {
   -fx-text-fill: #3a3a3a;
}

.lab-main-1 {
   -fx-text-fill: #3a3a3a;
   -fx-font-weight: bold;
}

.lab-main-2 {
}

.lab-main-3 {
    -fx-text-fill: #595959;
}

/* DATE PICKER */
.date-picker {
   -fx-background-color: none;
   -fx-background-insets: none;
   -fx-background-radius: 4px;
   -fx-border-radius: 4px;
   -fx-padding: 2px;
   -fx-pref-height: 32px;
}

.date-picker .arrow-button {
   -fx-background-color: #fff;
   -fx-background-radius: 4px;
}

.date-picker .arrow-button:hover {
   -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 3, 4, 0, 0);
}


/* Table views */
.table-view {
    -fx-background-color: #f5f5f5;
    -fx-background-insets: none;
    -fx-background-radius: 4px;
    -fx-border-width: 0;
    -fx-padding: 20px 0 0 0;
    -fx-effect: dropshadow(gaussian, #cecece, 20,0,0,0);
}

.table-view .label {
    -fx-text-fill: black;
}

.table-view .column-header-background {
    -fx-background-color: #ededed;
    -fx-border-color: #e3e3e3;
    -fx-border-width: 1px 0 1px 0;
    -fx-padding: 10px;
}

.table-view .filler,
.table-view .nested-column-header, 
.table-view .column-header {
     -fx-background-color: transparent;
}


.table-view *.column-header .label {
    -fx-font-weight: normal;
    -fx-text-fill: #6D6D6D;
}

.table-view .column-resize-line {
    -fx-background-color: red;
}

.table-view .place-holder {
    -fx-background-color: transparent;
}

/* rows ---- */
.table-view .table-row-cell {
    -fx-background-color: #fafbff;
} 

/* DEFAULT CONFIG : textfield, button, date-picker */

/* transparent with radius */
.text-field {
   -fx-background-color: none;
   -fx-background-insets: none;
   -fx-background-radius: 4px;
   -fx-border-radius: 4px;
   -fx-padding: 0 15px;
   -fx-pref-height: 32px;
}

.control-border-only {
   -fx-border-color: white; /*#d8d8d8;*/
}

/* INPUTS */ 

.text-field:focused {
   -fx-background-color: #fafafa;
   -fx-border-color: transparent;
   -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 6, 0, 0, 0);
}

.tf-dark {
   -fx-background-color: gray;
   -fx-text-fill: white;
}

.tf-find {
   -fx-min-width: 250px;
   -fx-pref-width: 250px;
   -fx-max-width: 250px;
}

.tf-transparent {
   -fx-border-color: #d8d8d8;
}


/* BUTTON */

.button, .toggle-button {
   -fx-background-color: none;
   -fx-background-radius: 2px;
   -fx-border-radius: 2px;
   -fx-background-insets: 0;
   -fx-padding: 0 15px;
   -fx-pref-height: 32px;
}

.btn-primary {
   -fx-background-color: #1D826C; 
   -fx-text-fill: #f5f5f5;
}

.btn-primary:hover {
   -fx-background-color: #29957d;
}

.btn-secondary {
   -fx-background-color: white;
   -fx-border-color: #d8d8d8;
}

.btn-secondary:hover {
   -fx-background-color: whitesmoke;
}

.btn-secondary:pressed {
   -fx-background-color: whitesmoke;
}

.btn-tertiary {
   -fx-background-color: transparent;
   -fx-border-color: #d8d8d8;
}

.btn-tertiary:hover {
   -fx-background-color: whitesmoke;
}



.btn-square-large {
   -fx-padding: 10px;
   -fx-min-width: 42px;
   -fx-pref-width: 42px;
   -fx-max-width: 42px;
   -fx-min-height: 42px;
   -fx-pref-height: 42px;
   -fx-max-height: 42px;
}

.btn-square-white {
   -fx-background-color: #f5f5f5;
   -fx-padding: 10px;
   -fx-min-width: 42px;
   -fx-pref-width: 42px;
   -fx-max-width: 42px;
   -fx-min-height: 42px;
   -fx-pref-height: 42px;
   -fx-max-height: 42px;
}

.btn-small-square-gray {
   -fx-background-color: #c3c3c3;
   -fx-min-width: 24px;
   -fx-pref-width: 24px;
   -fx-max-width: 24px;
   -fx-min-height: 24px;
   -fx-pref-height: 24px;
   -fx-max-height: 24px;
}

.btn-tiny {
   -fx-padding: 2px;
}


/* TOGGLE BUTTON */
.toggle-button .text {
   -fx-font-size: 12px;
}

.menu-items .toggle-button {
   -fx-text-fill: white;
   -fx-padding: 5px 10px;
   -fx-graphic-text-gap: 10px;
}

.menu-items .toggle-button:selected {
   -fx-background-color: #1B8D74;
   -fx-background-radius: 5px;
   -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.22), 10,0,0,4.5);
}

.menu-items .toggle-button:hover {
   -fx-background-color: rgba(0,0,0,0.08);
}

.toolbar-box .toggle-button {
   -fx-padding: 5px;
   -fx-max-width: 65px;
   -fx-max-height: 65px;
   -fx-pref-width: 65px;
   -fx-pref-height: 65px;
   -fx-min-width: 65px;
   -fx-min-height: 65px;
   -fx-border-color: #e3e3e3;
}

.toolbar-box .toggle-button .image-view {
   -fx-width: 10px;
   -fx-height: 10px;
}

.toolbar-box .toggle-button:selected {
   -fx-background-color: #1D826C; 
   -fx-text-fill: #f5f5f5;
   -fx-border-width: 0;
}

/* tools */
.centered {
    -fx-alignment: center;
}

.left-center {
    -fx-alignent: center_left;
}

/* LAYOUT */ 

.box { 
   -fx-padding: 10px; 
   -fx-background-radius: 4px; 
} 

.big-box { 
   -fx-padding: 20px;
   -fx-background-radius: 4px; 
}

/* padding */
.default-box-padding { -fx-padding: 10px; }
.big-box-padding { -fx-padding: 20px; }
.large-box-padding { -fx-padding: 30px; }

.padding-bottom-1 { -fx-padding: 0 0 5px 0; }
.padding-bottom-2 { -fx-padding: 0 0 10px 0; }
.padding-bottom-3 { -fx-padding: 0 0 20px 0; }
.padding-bottom-4 { -fx-padding: 0 0 40px 0; }

.padding-top-1 { -fx-padding: 0 0 5px 0; }
.padding-top-2 { -fx-padding: 0 0 10px 0; }
.padding-top-3 { -fx-padding: 0 0 20px 0; }
.padding-top-4 { -fx-padding: 0 0 40px 0; }


/* spacing */

.half-spacing {
    -fx-spacing: 5px;
}

.standar-spacing {
    -fx-spacing: 10px;
}

.double-spacing {
    -fx-spacing: 15px;
}

/* containers */
.box-white {
   -fx-background-color: #f5f5f5;
   -fx-effect: dropshadow(gaussian, #cecece, 20,0,0,0);
}

.main {
   -fx-padding: 10px 10px 10px 20px;
   -fx-spacing: 10px;
}

.avatar-box {
   -fx-pref-width: 30px;
   -fx-pref-height: 30px;
   -fx-background-color: gray;
   -fx-background-radius: 4px;
}

.toolbar-box {
   -fx-background-color: #f5f5f5;
   -fx-background-radius: 5px;
   -fx-padding: 5px 20px;
    -fx-effect: dropshadow(gaussian, #cecece, 20,0,0,0);

}

.standar-container {
  -fx-spacing: 10px;
}

/* dialogs */
.dialog-box {
    -fx-effect: dropshadow(gaussian,gray,20,0,0,0);
    -fx-spacing: 30px;
}

.dialog-title-box {
   -fx-background-color: #197864;
   -fx-background-radius: 8px;
   -fx-padding: 5px 10px;
}

.dialog-title-box .label {
    -fx-text-fill: #f5f5f5; 
}


/* SPECIFICS */


/* mini-box */
/* box gray with small icon and label */
.mini-box {
    -fx-background-color: #f1f1f1; 
    -fx-background-radius: 8px;
    -fx-padding: 2px 8px;
}

/* vbox */
.menu {
   -fx-background-color: #017862; 
   -fx-background-radius: 10px;
   -fx-pref-width: 200px;
}

.menu-items {
   -fx-spacing: 10px;
}

.menu-logo {
   -fx-padding: 20px 0 40px 0;
}

/* medoc item */
.box-medoc {
   -fx-background-color: #fafafa;
   -fx-pref-width: 200px;
   -fx-min-height: 100px;
   -fx-pref-height: 100px;
   -fx-max-height: 100px;
   -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 0);
}

.box-medoc-detail {
   -fx-spacing: 5px;
}

.box-medoc .medoc-name {
   -fx-wrap-text: true;
   -fx-alignment: top_left;
}


/* panier */

.lab-montant-panier {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.panier-container {
    -fx-spacing: 10px;
}

.item-panier {
    -fx-background-color: #fff;
    -fx-padding: 5px 10px;
}

.qty-item-panier {
    -fx-background-color: #efefef;
    -fx-padding: 2px;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-alignment: center;
}

.qty-item-panier:focused {
    -fx-border-color: #D9D9D9; 
    -fx-border-width: 2px;
}

.del-item-panier {
    -fx-opacity: 0;
}

.item-panier:hover .del-item-panier {
    -fx-opacity: 0.6;
}

.del-item-panier:hover {
    -fx-opacity: 1;
}

/* regularisation details - liste ordonnance */
.light-gray-rectangle {
   -fx-background-color: #ededed;
   -fx-alignment: center_left;
}

.gray-square {
   -fx-background-color: #d1d1d1;
   -fx-background-radius: 4px;
   -fx-padding: 5px;
   -fx-pref-width: 30px;
   -fx-pref-height: 30px;
   -fx-alignment: center;
}



/* toolbar icones */
.toolbar-box .toggle-button .image-view { -fx-opacity: 0.6; } 
.toolbar-box .toggle-button:selected .image-view { -fx-opacity: 1; }

.toggle-button .icon-client { -fx-image: url("../images/icones/client.png"); }
.toggle-button:selected .icon-client { -fx-image: url("../images/icones/clientFocus.png"); }

.toggle-button .icon-clientONG { -fx-image: url("../images/icones/clientONG.png"); }
.toggle-button:selected .icon-clientONG { -fx-image: url("../images/icones/clientONGFocus.png"); }

.toggle-button .icon-clientUrgence { -fx-image: url("../images/icones/urgence.png"); }
.toggle-button:selected .icon-clientUrgence { -fx-image: url("../images/icones/urgenceFocus.png"); }


/* paiement */

.box-paiement-montant {
    -fx-padding: 0;
    -fx-alignment: center;
}
